.container
  .page-header
    %h1= t('welcome.title', project: t('project'))

  %p= t('updater.description', project: t('project'))

  .spinner

  %p= button_to t('button.update'), run_updater_index_path,
    {method: :get, id: :update, class: 'btn btn-default', style: 'display: none'}

  %p= button_to t('button.next'), '/',
    {method: :get, id: :next, class: 'btn btn-default', style: 'display: none'}

= javascript_include_tag :updater
